/* 改变主题色变量 */
$--color-primary: #00B9AD;
$--color-success: #017847;
$--color-warning: #b65b00;
$--color-danger: #F64346;
$--color-info: #BABEC5;
$--color-text-primary: #202021;
$--color-text-secondary: #606266;
$--background-color-base: #F7F8FA;